node-red/.flows.json.backup
[{"id":"9a47017e.7f583","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"d0126d01.91ffc8","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"cb30b08a.215568","type":"tab","label":"Golf Chargers","disabled":false,"info":""},{"id":"c41e5e17.708d18","type":"tab","label":"Heating","disabled":false,"info":""},{"id":"138615cb.2461aa","type":"server","z":"","name":"Home Assistant"},{"id":"53d4522a.2a0174","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"50b6a0e4.0ca31","type":"inject","z":"9a47017e.7f583","name":"7am Wake-up","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["4e686771.c4c038"]]},{"id":"4e686771.c4c038","type":"time-range-switch","z":"9a47017e.7f583","name":"Still Dark","lat":"51.66727","lon":"0.09523","startTime":"01:00","endTime":"goldenHourEnd","startOffset":0,"endOffset":"-15","x":340,"y":120,"wires":[["9700a286.6148d8","e908c9d1.c125e"],["db9f350.c941dc8"]]},{"id":"9700a286.6148d8","type":"api-call-service","z":"9a47017e.7f583","name":"Hall Lamp morning","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_on","entityId":"light.tradfri_bulb_e27_ws_opal_980lm","data":"{\"brightness_pct\":\"75\",\"white_value\":\"128\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":60,"wires":[[]]},{"id":"e908c9d1.c125e","type":"api-call-service","z":"9a47017e.7f583","name":"Kitchen Lamp morning","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_on","entityId":"light.tradfri_bulb_e27_cws_opal_600lm","data":"{\"brightness_pct\":\"75\",\"color_name\":\"white\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":100,"wires":[[]]},{"id":"ba3149f9.d5792","type":"sun events","z":"9a47017e.7f583","testmode":false,"verbose":false,"topic":"","name":"","x":120,"y":320,"wires":[["55cad397.e87f84"]]},{"id":"55cad397.e87f84","type":"switch","z":"9a47017e.7f583","name":"sun state","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"goldenHourEnd","vt":"str"},{"t":"eq","v":"goldenHour","vt":"str"},{"t":"eq","v":"sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":300,"y":320,"wires":[["6461fb0d.815dac","4f600969.938fa8"],["b3c9ad93.b6d3d","5d3514e6.366d3c"],["9b6733de.7b9f4","46db242e.96ec64","75195843.786a","ab67295c.7f3138"]]},{"id":"6461fb0d.815dac","type":"api-call-service","z":"9a47017e.7f583","name":"Hall Lamp off","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_off","entityId":"light.tradfri_bulb_e27_ws_opal_980lm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":220,"wires":[[]]},{"id":"4f600969.938fa8","type":"api-call-service","z":"9a47017e.7f583","name":"Kitchen Lamp off","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_off","entityId":"light.tradfri_bulb_e27_cws_opal_600lm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":260,"wires":[[]]},{"id":"b3c9ad93.b6d3d","type":"api-call-service","z":"9a47017e.7f583","name":"Hall Lamp goldenhour","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_on","entityId":"light.tradfri_bulb_e27_ws_opal_980lm","data":"{\"brightness_pct\":\"50\",\"white_value\":\"128\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":320,"wires":[[]]},{"id":"5d3514e6.366d3c","type":"api-call-service","z":"9a47017e.7f583","name":"Kitchen Lamp goldenhour","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_on","entityId":"light.tradfri_bulb_e27_cws_opal_600lm","data":"{\"brightness_pct\":\"50\",\"color_name\":\"green\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":360,"wires":[[]]},{"id":"46db242e.96ec64","type":"api-call-service","z":"9a47017e.7f583","name":"Kitchen Lamp sunset","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_on","entityId":"light.tradfri_bulb_e27_cws_opal_600lm","data":"{\"brightness_pct\":\"75\",\"color_name\":\"blue\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":460,"wires":[[]]},{"id":"9b6733de.7b9f4","type":"api-call-service","z":"9a47017e.7f583","name":"Hall Lamp sunset","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_on","entityId":"light.tradfri_bulb_e27_ws_opal_980lm","data":"{\"brightness_pct\":\"75\",\"white_value\":\"128\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":420,"wires":[[]]},{"id":"c0367db0.67fd68","type":"inject","z":"9a47017e.7f583","name":"11pm Bed time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":150,"y":640,"wires":[["bdd9d98e.da1548","4211099.1583978","75a7ec91.082e5c","9c61637b.447f88"]]},{"id":"4211099.1583978","type":"api-call-service","z":"9a47017e.7f583","name":"Kitchen Lamp night","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_on","entityId":"light.tradfri_bulb_e27_cws_opal_600lm","data":"{\"brightness_pct\":\"25\",\"color_name\":\"white\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":680,"wires":[[]]},{"id":"bdd9d98e.da1548","type":"api-call-service","z":"9a47017e.7f583","name":"Hall Lamp off","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_off","entityId":"light.tradfri_bulb_e27_ws_opal_980lm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":640,"wires":[[]]},{"id":"8ebd8661.69a38","type":"server-state-changed","z":"9a47017e.7f583","name":"Cloak Door opened","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.cloak_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":880,"wires":[["6e0c6589.07b084"],[]]},{"id":"6e0c6589.07b084","type":"api-call-service","z":"9a47017e.7f583","name":"Cloak Light toggle","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"toggle","entityId":"light.lightcloakroom_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":880,"wires":[[]]},{"id":"7abc6ce.5cf6514","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Dining Door","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_dining_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":200,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"15464d4a.495ea3","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Drawing Room","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_drawing_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":240,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"987e0e50.20a9f8","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Hall","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_hall_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":280,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"fbb4ded0.16975","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Kitchen","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":320,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"489123c9.378f5c","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Landing","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_landing","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":360,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"830be2ad.d04368","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Lounge","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_lounge","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":400,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"d87a5cc4.902c4","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Study","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_study","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":440,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"dd087f80.217588","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Snug","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_sun_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":480,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"f0855845.168bc8","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Volume","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_upstairs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":520,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"f49c7d33.331aa","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Utility","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_utility","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":560,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"e95fd896.f11c18","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Utility Door","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_utility_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":600,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"88790852.511a98","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Cloak Door","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.cloak_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":640,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"3c79d411.157504","type":"server-state-changed","z":"d0126d01.91ffc8","name":"Cloakroom","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.lightcloakroom_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":680,"wires":[["bfe5ebcc.5e0078"],[]]},{"id":"bfe5ebcc.5e0078","type":"change","z":"d0126d01.91ffc8","name":"Get Sensor","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substringAfter(topic, '.')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":340,"wires":[["ce705193.0fc92","6dd08673.12ef9"]]},{"id":"ce705193.0fc92","type":"api-current-state","z":"d0126d01.91ffc8","name":"Armed Away","server":"138615cb.2461aa","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.kclub_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":420,"wires":[["40f68979.4b9638","aaa0e808.d2733"],["860ef1fc.d4b998"]]},{"id":"860ef1fc.d4b998","type":"api-call-service","z":"d0126d01.91ffc8","name":"Turn Off Sound","server":"138615cb.2461aa","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.alarm_sound","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":500,"wires":[[]]},{"id":"40f68979.4b9638","type":"api-call-service","z":"d0126d01.91ffc8","name":"ALARM TRIGGER","server":"138615cb.2461aa","version":1,"service_domain":"alarm_control_panel","service":"alarm_trigger","entityId":"alarm_control_panel.kclub_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":360,"wires":[["91f73439.eb33b8"]]},{"id":"aaa0e808.d2733","type":"api-call-service","z":"d0126d01.91ffc8","name":"Notify Kev","server":"138615cb.2461aa","version":1,"service_domain":"notify","service":"ios_kevins_iphone","entityId":"","data":"{\"title\":\"BURGLAR ALARM\",\"message\":\"Trigger - {{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":420,"wires":[[]]},{"id":"8251dbc6.2b7ee8","type":"inject","z":"d0126d01.91ffc8","name":"Test","topic":"Test","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["bfe5ebcc.5e0078"]]},{"id":"6dd08673.12ef9","type":"debug","z":"d0126d01.91ffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":260,"wires":[]},{"id":"f272d830.88c34","type":"server-state-changed","z":"d0126d01.91ffc8","name":"KK AWAY","server":"138615cb.2461aa","version":1,"entityidfilter":"group.kandk","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":80,"wires":[["70b18c68.fa54dc"],["6b5e203f.0ecff8"]]},{"id":"70b18c68.fa54dc","type":"api-call-service","z":"d0126d01.91ffc8","name":"Arm AWAY","server":"138615cb.2461aa","version":1,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.kclub_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":60,"wires":[["6f4b9964.810e18"]]},{"id":"6f4b9964.810e18","type":"api-call-service","z":"d0126d01.91ffc8","name":"Notify Kev","server":"138615cb.2461aa","version":1,"service_domain":"notify","service":"ios_kevins_iphone","entityId":"","data":"{\"message\":\"Alarm set to AWAY\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":40,"wires":[[]]},{"id":"6b5e203f.0ecff8","type":"api-call-service","z":"d0126d01.91ffc8","name":"Arm HOME","server":"138615cb.2461aa","version":1,"service_domain":"alarm_control_panel","service":"alarm_arm_home","entityId":"alarm_control_panel.kclub_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":120,"wires":[[]]},{"id":"a28b3dc8.fa79b8","type":"inject","z":"d0126d01.91ffc8","name":"Test","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["70b18c68.fa54dc"]]},{"id":"91f73439.eb33b8","type":"api-call-service","z":"d0126d01.91ffc8","name":"ALARM","server":"138615cb.2461aa","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.alarm_led, switch.alarm_sound","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":280,"wires":[[]]},{"id":"d372857f.13aaa","type":"server-state-changed","z":"d0126d01.91ffc8","name":"FIRE","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.alarm_hall_co2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":860,"wires":[["6e85f78.2ec9908","e18d4c43.1af29"],[]]},{"id":"6e85f78.2ec9908","type":"api-call-service","z":"d0126d01.91ffc8","name":"Notify Kev","server":"138615cb.2461aa","version":1,"service_domain":"notify","service":"ios_kevins_iphone","entityId":"","data":"{\"title\":\"FIRE ALARM\",\"message\":\"Hall CO2\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":800,"wires":[[]]},{"id":"e18d4c43.1af29","type":"api-call-service","z":"d0126d01.91ffc8","name":"ALARM","server":"138615cb.2461aa","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.alarm_led, switch.alarm_sound","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":860,"wires":[["ed265af4.78649"]]},{"id":"ed265af4.78649","type":"delay","z":"d0126d01.91ffc8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":860,"wires":[["b454c423.45531"]]},{"id":"ac279963.a9058","type":"api-current-state","z":"d0126d01.91ffc8","name":"Still FIRE","server":"138615cb.2461aa","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.alarm_hall_co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":920,"wires":[["e18d4c43.1af29"],["8f9e7f16.8dcdb"]]},{"id":"8f9e7f16.8dcdb","type":"api-call-service","z":"d0126d01.91ffc8","name":"Turn Off Sound","server":"138615cb.2461aa","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.alarm_sound","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":920,"wires":[[]]},{"id":"b454c423.45531","type":"api-call-service","z":"d0126d01.91ffc8","name":"Turn Off Sound","server":"138615cb.2461aa","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.alarm_sound","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":860,"wires":[["ac279963.a9058"]]},{"id":"db9f350.c941dc8","type":"api-call-service","z":"9a47017e.7f583","name":"Kitchen Lamp off","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_off","entityId":"light.tradfri_bulb_e27_cws_opal_600lm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":160,"wires":[[]]},{"id":"75195843.786a","type":"delay","z":"9a47017e.7f583","name":"Lounge Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"15","randomLast":"60","randomUnits":"minutes","drop":false,"x":400,"y":520,"wires":[["be18b6c8.194888"]]},{"id":"be18b6c8.194888","type":"api-call-service","z":"9a47017e.7f583","name":"Lounge Lamp ON","server":"138615cb.2461aa","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.sp27_1_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":520,"wires":[[]]},{"id":"75a7ec91.082e5c","type":"api-call-service","z":"9a47017e.7f583","name":"Lounge Lamp OFF","server":"138615cb.2461aa","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.sp27_1_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":720,"wires":[[]]},{"id":"f9fc0279.b7e3c8","type":"server-state-changed","z":"cb30b08a.215568","name":"Golf Turn on","server":"138615cb.2461aa","version":1,"entityidfilter":"switch.sp27_2_relay","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":120,"wires":[["9b8215c4.cf1e7"],[]]},{"id":"9b8215c4.cf1e7","type":"delay","z":"cb30b08a.215568","name":"","pauseType":"delay","timeout":"180","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":120,"wires":[["b493b84d.b0d998","d142cac8.a14488"]]},{"id":"b493b84d.b0d998","type":"api-call-service","z":"cb30b08a.215568","name":"Golf turn off","server":"138615cb.2461aa","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.sp27_2_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":120,"wires":[[]]},{"id":"d142cac8.a14488","type":"api-call-service","z":"cb30b08a.215568","name":"Golf turn off","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_off","entityId":"light.sp27_2_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":180,"wires":[[]]},{"id":"ab67295c.7f3138","type":"delay","z":"9a47017e.7f583","name":"Snug Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"45","randomUnits":"minutes","drop":false,"x":390,"y":580,"wires":[["8df7b709.d24a98"]]},{"id":"8df7b709.d24a98","type":"api-call-service","z":"9a47017e.7f583","name":"Snug Lamp ON","server":"138615cb.2461aa","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.sp27_3_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":580,"wires":[[]]},{"id":"9c61637b.447f88","type":"api-call-service","z":"9a47017e.7f583","name":"Snug Lamp OFF","server":"138615cb.2461aa","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.sp27_3_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":760,"wires":[[]]},{"id":"1a2198d7.353087","type":"stoptimer","z":"9a47017e.7f583","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":340,"y":960,"wires":[["86be713.8e7a11"],[]]},{"id":"86be713.8e7a11","type":"api-call-service","z":"9a47017e.7f583","name":"Cloak Light off","server":"138615cb.2461aa","version":1,"service_domain":"light","service":"turn_off","entityId":"light.lightcloakroom_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":960,"wires":[[]]},{"id":"2725d796.fa0338","type":"server-state-changed","z":"9a47017e.7f583","name":"Cloak PIR","server":"138615cb.2461aa","version":1,"entityidfilter":"binary_sensor.lightcloakroom_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":960,"wires":[["1a2198d7.353087"],["1a2198d7.353087"]]},{"id":"2b4603.db0a81fe","type":"server-state-changed","z":"c41e5e17.708d18","name":"KClub Home","server":"138615cb.2461aa","version":1,"entityidfilter":"group.kandk","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":350,"y":80,"wires":[["4fe8673e.b0f798"],["24a2d632.4c22ea"]]},{"id":"4fe8673e.b0f798","type":"api-call-service","z":"c41e5e17.708d18","name":"SET UP DN ON","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_on","entityId":"climate.test_custom_up, climate.test_custom_down","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":220,"wires":[["24a2d632.4c22ea"]]},{"id":"cb40ae9b.3bcf4","type":"inject","z":"c41e5e17.708d18","name":"22:30 Night","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 22 * * *","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["34fa873d.f7a6c8"]]},{"id":"34fa873d.f7a6c8","type":"api-current-state","z":"c41e5e17.708d18","name":"DN NOT OFF","server":"138615cb.2461aa","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"climate.test_custom_down","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":110,"y":160,"wires":[["24a2d632.4c22ea"],[]]},{"id":"ba31474b.eb4808","type":"timecheck","z":"c41e5e17.708d18","name":"22:30 Night","time":"22:30","x":530,"y":360,"wires":[["c7fde01d.7753b"],["9040cf35.114888"]]},{"id":"9040cf35.114888","type":"timecheck","z":"c41e5e17.708d18","name":"18:00 DN Evening","time":"18:00","x":550,"y":460,"wires":[["48b48f4f.6170f"],["fed7e899.384f38"]]},{"id":"a2d40508.63462","type":"timecheck","z":"c41e5e17.708d18","name":"08:10 UP Daytime","time":"08:10","x":550,"y":980,"wires":[["9af234fd.0c0e48"],["499e030f.77983c"]]},{"id":"fed7e899.384f38","type":"timecheck","z":"c41e5e17.708d18","name":"07:00 Morning","time":"07:00","x":540,"y":640,"wires":[["269d324e.83890e"],["2e3d1dca.0e5fb2"]]},{"id":"24a2d632.4c22ea","type":"api-call-service","z":"c41e5e17.708d18","name":"SET UP DN AUTO mode","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_hvac_mode","entityId":"climate.test_custom_up, climate.test_custom_down","data":"{\"hvac_mode\": \"heat_cool\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":190,"y":320,"wires":[["ba31474b.eb4808","79ff1a50.c1dfec"]]},{"id":"c7fde01d.7753b","type":"api-call-service","z":"c41e5e17.708d18","name":"DN temp 15","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_down","data":"{\"temperature\": 15}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":340,"wires":[[]]},{"id":"ccb13d36.bd9668","type":"api-current-state","z":"c41e5e17.708d18","name":"","server":"138615cb.2461aa","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.kandk","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":820,"y":900,"wires":[["d45ebf64.1378c"],["774762dd.d14344"]]},{"id":"c135780d.4dc95","type":"inject","z":"c41e5e17.708d18","name":"10m POLL","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":720,"wires":[["65903e45.38dac8","484e1312.61b804"]]},{"id":"269d324e.83890e","type":"api-current-state","z":"c41e5e17.708d18","name":"","server":"138615cb.2461aa","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.kandk","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":820,"y":600,"wires":[["fab9f26c.5ba2"],["938cf49c.21c1c"]]},{"id":"48b48f4f.6170f","type":"api-current-state","z":"c41e5e17.708d18","name":"","server":"138615cb.2461aa","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.kandk","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":820,"y":460,"wires":[["562a0293.179f94"],["73af9c8.c296f64"]]},{"id":"79ff1a50.c1dfec","type":"timecheck","z":"c41e5e17.708d18","name":"22:30 Night","time":"22:30","x":530,"y":840,"wires":[["b0604ff.fa414b"],["1878b9b0.e4e69e"]]},{"id":"1878b9b0.e4e69e","type":"timecheck","z":"c41e5e17.708d18","name":"21:00 UP Evening","time":"21:00","x":550,"y":900,"wires":[["ccb13d36.bd9668"],["a2d40508.63462"]]},{"id":"499e030f.77983c","type":"timecheck","z":"c41e5e17.708d18","name":"07:00 Morning","time":"07:00","x":540,"y":1100,"wires":[["353f5963.7b0b3e"],["a7c251be.3079c8"]]},{"id":"353f5963.7b0b3e","type":"api-current-state","z":"c41e5e17.708d18","name":"","server":"138615cb.2461aa","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.kandk","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":820,"y":1060,"wires":[["60069734.feb958"],["efd37be.d08ba88"]]},{"id":"fab9f26c.5ba2","type":"api-call-service","z":"c41e5e17.708d18","name":"DN temp 18","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_down","data":"{\"temperature\": 18}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":560,"wires":[[]]},{"id":"65903e45.38dac8","type":"api-current-state","z":"c41e5e17.708d18","name":"DN AUTO","server":"138615cb.2461aa","version":1,"outputs":2,"halt_if":"heat_cool","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.test_custom_down","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":460,"wires":[["ba31474b.eb4808"],[]]},{"id":"562a0293.179f94","type":"api-call-service","z":"c41e5e17.708d18","name":"DN temp 20","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_down","data":"{\"temperature\": 20}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":440,"wires":[[]]},{"id":"73af9c8.c296f64","type":"api-call-service","z":"c41e5e17.708d18","name":"DN temp 18","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_down","data":"{\"temperature\": 18}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":480,"wires":[[]]},{"id":"2e3d1dca.0e5fb2","type":"api-call-service","z":"c41e5e17.708d18","name":"DN temp 15","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_down","data":"{\"temperature\": 15}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":700,"wires":[[]]},{"id":"938cf49c.21c1c","type":"api-call-service","z":"c41e5e17.708d18","name":"DN temp 16","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_down","data":"{\"temperature\": 16}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":620,"wires":[[]]},{"id":"b0604ff.fa414b","type":"api-call-service","z":"c41e5e17.708d18","name":"UP temp 15","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_up","data":"{\"temperature\": 15}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":820,"wires":[[]]},{"id":"9af234fd.0c0e48","type":"api-call-service","z":"c41e5e17.708d18","name":"UP temp 15","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_up","data":"{\"temperature\": 15}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":980,"wires":[[]]},{"id":"a7c251be.3079c8","type":"api-call-service","z":"c41e5e17.708d18","name":"UP temp 15","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_up","data":"{\"temperature\": 15}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":1160,"wires":[[]]},{"id":"d45ebf64.1378c","type":"api-call-service","z":"c41e5e17.708d18","name":"UP temp 20","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_up","data":"{\"temperature\": 20}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":880,"wires":[[]]},{"id":"774762dd.d14344","type":"api-call-service","z":"c41e5e17.708d18","name":"UP temp 18","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_up","data":"{\"temperature\": 18}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":920,"wires":[[]]},{"id":"60069734.feb958","type":"api-call-service","z":"c41e5e17.708d18","name":"UP temp 18","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_up","data":"{\"temperature\": 18}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":1040,"wires":[[]]},{"id":"efd37be.d08ba88","type":"api-call-service","z":"c41e5e17.708d18","name":"UP temp 16","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.test_custom_up","data":"{\"temperature\": 16}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":1080,"wires":[[]]},{"id":"bb79582d.7e917","type":"inject","z":"c41e5e17.708d18","name":"Midnight","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":600,"y":20,"wires":[["567ab4e.aa14b4c"]]},{"id":"567ab4e.aa14b4c","type":"api-current-state","z":"c41e5e17.708d18","name":"DN OFF","server":"138615cb.2461aa","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.test_custom_down","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":80,"wires":[["97ae0713.26833"],[]]},{"id":"97ae0713.26833","type":"api-current-state","z":"c41e5e17.708d18","name":"AwayDays > 0","server":"138615cb.2461aa","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"input_number.awaydays","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":140,"wires":[["3a82df2a.ba6b88"],["4fe8673e.b0f798"]]},{"id":"40023d96.845a9c","type":"api-call-service","z":"c41e5e17.708d18","name":"SET UP OFF","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.test_custom_up","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":40,"wires":[[]]},{"id":"eeb338d7.ce4ca8","type":"api-call-service","z":"c41e5e17.708d18","name":"SET DN OFF","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.test_custom_down","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":100,"wires":[[]]},{"id":"3a82df2a.ba6b88","type":"api-call-service","z":"c41e5e17.708d18","name":"Decrement AwayDays","server":"138615cb.2461aa","version":1,"debugenabled":false,"service_domain":"input_number","service":"decrement","entityId":"input_number.awaydays","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":120,"wires":[[]]},{"id":"484e1312.61b804","type":"api-current-state","z":"c41e5e17.708d18","name":"UP AUTO","server":"138615cb.2461aa","version":1,"outputs":2,"halt_if":"heat_cool","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.test_custom_up","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":780,"wires":[["79ff1a50.c1dfec"],[]]},{"id":"c9aad1e2.bd2f5","type":"server-state-changed","z":"c41e5e17.708d18","name":"DN to AUTO","server":"138615cb.2461aa","version":1,"entityidfilter":"climate.test_custom_down","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"heat_cool","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":420,"wires":[["ba31474b.eb4808"],[]]},{"id":"1133d83.9de7aa8","type":"server-state-changed","z":"c41e5e17.708d18","name":"UP to AUTO","server":"138615cb.2461aa","version":1,"entityidfilter":"climate.test_custom_up","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"heat_cool","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":840,"wires":[["79ff1a50.c1dfec"],[]]},{"id":"a5fb3463.c04af8","type":"server-state-changed","z":"c41e5e17.708d18","name":"DN to OFF","server":"138615cb.2461aa","version":1,"entityidfilter":"climate.test_custom_down","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1080,"y":40,"wires":[["40023d96.845a9c"],[]]},{"id":"bc814388.b3f548","type":"server-state-changed","z":"c41e5e17.708d18","name":"UP to OFF","server":"138615cb.2461aa","version":1,"entityidfilter":"climate.test_custom_up","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1080,"y":100,"wires":[["eeb338d7.ce4ca8"],[]]}]